<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Andela Web Challenge" />
        <title>BAM!</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8">
        <link rel="stylesheet" href="css/animate.min.css" charset="utf-8">
        <link rel="stylesheet" href="css/slick.css" charset="utf-8">
        <link rel="stylesheet" href="css/slick-theme.css" charset="utf-8">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header class="welcome">
            <nav class="container">
                <div class="row pt-md-5 pt-0">
                    <div class="col-12 col-md-8 offset-md-2 pt-0" style="margin-top: 6vh;">
                        <h1 class="animated fadeInUp mt-5 logo text-flav pb-md-3">BAM!</h1>
                        <h3 id="slogan" class="animated fadeInDown text-flav mb-md-4"></h3>
                    </div>
                </div>
                <div class="row mt-md-2 mt-1">
                    <div class="col-6">
                        <a href="sign-up.html" class="animated fadeInLeft btn btn-primary float-right ">Sign Up</a>
                    </div>
                    <div class="col-6">
                        <a href="login.html" class="animated fadeInRight btn btn-primary float-left"> Log In </a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="container text-center mt-4">
                <header>
                    <h4>On Today's Menu</h4>
                </header>
                <h5>Breakfast</h5>
                <div class="row menu-category">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h5 class="pt-5">Lunch</h5>
                <div class="row menu-category">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h5 class="pt-5">Supper</h5>
                <div class="row menu-category">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="p-2">Ksh. 200</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Pudding</td>
                                    </tr>
                                    <tr>
                                        <td class="pb-0">
                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="container-fluid bg-teal patterns text-center p-5">
            <div class="row">
                <div class="col-10 offset-1 col-md-4 offset-md-4">
                    <p class="pt-4"> Andela Book-A-Meal </p>
                    <p class="pb-4"> Made With &lt;3 By Edward Njoroge </p>
                </div>
            </div>
        </footer>
        <script src="js/jquery.min.js" charset="utf-8"></script>
        <script src="js/typed.min.js" charset="utf-8"></script>
        <script src="js/slick.min.js" charset="utf-8"></script>
        <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
        <script>
            $('.menu-category').slick({
                nextArrow: '<button class="clients-next">❯</button>',
                prevArrow: '<button class="clients-prev">❮</button>',
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnHover: false,
                arrows: false,
                centerMode: true,
                dots: true,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 500,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ],
            });

            new Typed("#slogan", {
                strings: ["Welcome to where food lives.", "Welcome to book a meal." ],
                startDelay: 200,
                typeSpeed: 40,
                backSpeed: 40,
                showCursor: false,
            });
        </script>
    </body>
</html>
