<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Caterer | Meals</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/custom.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <main class="container-fluid">
            <section class="row">
                <nav class="d-none d-md-block col-md-4 col-lg-3 controls sidebar patterns bg-teal text-center"> 
                    <h1 class="logo-medium text-flav pt-3">BAM!</h1> 
                    <hr/>
                    <a href="#" class="btn active">Manage Meals</a>
                    <a href="menu.html" class="btn">Set Menu</a>
                    <a href="orders.html" class="btn">Manage Orders</a>
                    <a href="users.html" class="btn">Users</a>
                    <a href="orders-history.html" class="btn">Order History</a>
                    <hr class="last"/>
                    <a href="index.html" class="btn btn-logout">Logout</a>
                </nav>

                <div class="col-12 col-md-8 offset-md-4 col-lg-9 offset-lg-3 container-fluid p-4">
                    <div class="row">
                        <div class="col-12">
                            <img data-toggle="modal" 
                                 data-target="#controls-modal" 
                                 class="d-md-none controls-icon pb-3" 
                                 src="imgs/menu.png" alt=""/>
                        </div>
                        <div class="col-12 mb-2 pr-0 pr-sm-2">
                            <h5 class="d-inline-block"> Manage Meals </h5>
                            <button data-toggle="modal" 
                                data-target="#add-modal" 
                                class="btn btn-secondary float-right">Add New</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-sm-2 col-lg-1 text-right">
                            <label class="pt-2">Text:</label>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-4 col-xl-3 pl-0">
                           <input type="text" class="d-inline form-control ml-0 mb-0" name=""  placeholder=" Search text..."/>
                        </div>
                        <div class="col-12 col-sm-1 col-lg-1 pt-3 pt-sm-0">
                            <button class="btn btn-secondary d-block m-auto">Filter </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="table-holder">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Cost</th>
                                            <th>Added On</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>4</td>
                                            <td><img class="image-fluid" src="imgs/food1.jpg" /></td>
                                            <td>Spaghetti</td>
                                            <td>Ksh. 200</td>
                                            <td>19/04/2018</td>
                                            <td> 
                                                <a class="edit-act" 
                                                    data-toggle="modal" 
                                                    data-target="#edit-modal" href="#">Edit</a>
                                            </td>
                                            <td> 
                                                <a class="delete-act" 
                                                    data-toggle="modal" 
                                                    data-target="#delete-modal" href="#">Delete</a>
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>3</td>
                                            <td> <img class="image-fluid" src="imgs/food2.jpg" /></td>
                                            <td>Pudding</td>
                                            <td>Ksh. 500</td>
                                            <td>19/04/2018</td>
                                            <td> <a class="edit-act" href="#">Edit</a></td>
                                            <td> <a class="delete-act" href="#">Delete</a></td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td> <img class="image-fluid" src="imgs/food3.jpg" /></td>
                                            <td>Eggs!</td>
                                            <td>Ksh. 50</td>
                                            <td>19/04/2018</td>
                                            <td> <a class="edit-act" href="#">Edit</a></td>
                                            <td> <a class="delete-act" href="#">Delete</a></td>
                                        </tr> 
                                        <tr>
                                            <td>1</td>
                                            <td> <img class="image-fluid" src="imgs/food4.jpg" /></td>
                                            <td>Weird Stuff</td>
                                            <td>Ksh. 250</td>
                                            <td>19/04/2018</td>
                                            <td> <a class="edit-act" href="#">Edit</a></td>
                                            <td> <a class="delete-act" href="#">Delete</a></td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                            <p class="text-center pt-0 mt-0 text-bottom">Showing page 1 of 1</p>
                            <div class="pt-1">
                                <button class="btn btn-secondary float-right">Next </button>
                                <button class="btn btn-secondary">  Previous</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <section id="add-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title">Add Modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="mb-2 img-fluid d-block m-auto" src="imgs/food3.jpg"> 
                        <br>
                        <button class="btn btn-secondary d-block m-auto">Select Image</button>
                        <label>Name</label>
                        <input class="form-control" type="text" value="" name="" id=""/>
                        <label>Cost(Ksh)</label>
                        <input class="form-control" type="number" value="" name="" id=""/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Save Meal</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="edit-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Meal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="mb-2 img-fluid d-block m-auto" src="imgs/food3.jpg"> 
                        <br>
                        <button class="btn btn-secondary d-block m-auto">Select Image</button>
                        <label>Name</label>
                        <input class="form-control" type="text" value="Spaghetti" name="" id=""/>
                        <label>Cost(Ksh)</label>
                        <input class="form-control" type="number" value="100" name="" id=""/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Update Meal</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="delete-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Meal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Delete this meal (Spaghetti)? </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="controls-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-0">
                    <div class="modal-body p-0">
                        <nav class="controls patterns bg-teal"> 
                            <div class="col-12">
                                <span class="modal-close" data-dismiss="modal">&times;</span>
                                <h1 class="logo text-flav w-100">BAM!</h1> 
                                <hr/>
                                <a href="#" class="btn active">Manage Meals</a>
                                <a href="menu.html" class="btn">Set Menu</a>
                                <a href="orders.html" class="btn">Manage Orders</a>
                                <a href="users.html" class="btn">Users</a>
                                <a href="orders-history.html" class="btn">Order History</a>
                                <hr class="last"/>
                                <a href="index.html" class="btn btn-logout">Logout</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/jquery.min.js" charset="utf-8"></script>
        <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
        <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>

