<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>BAM | Login</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/animate.min.css" charset="utf-8">
        <link rel="stylesheet" href="css/custom.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8">
    </head>
    <body class="bg-teal patterns">
        <main>
            <section class="container login">
                <div class="row pt-5">
                    <div class="col-12 text-center">
                        <h1 class="logo-small text-flav">BAM!</h1>
                    </div>
                </div>
                <div class="row mb-5">
                    <form class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card pl-4 pr-4 pb-4">
                        <h5 class="text-center mb-4 mt-4">Notice</h5>
                        <p>
                            This is a <b>temporary </b> file and will be removed.
                            This is because after login, the user will either be directed 
                            to the customers home page or caterers page depending on their role.
                        </p>
                        <p>
                            You can come back here to view the other side.
                        </p>
                        <a href="meals.html" class="btn btn-primary mb-3"> Proceed As Caterer </a>
                        <a href="user-home.html" class="btn btn-primary"> Proceed As Customer </a>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>
