<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Customer | Notifications</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/slick.css" charset="utf-8">
        <link rel="stylesheet" href="css/slick-theme.css" charset="utf-8">
        <link rel="stylesheet" href="css/custom.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <main class="container-fluid">
            <section class="row">
                <nav class="d-none d-md-block col-md-4 col-lg-3 controls sidebar patterns bg-teal text-center"> 
                    <h1 class="logo-medium text-flav pt-3">BAM!</h1> 
                    <hr/>
                    <a href="user-home.html" class="btn">Today's Menu</a>
                    <a href="user-orders.html" class="btn">My Orders</a>
                    <a href="#" class="btn active">Notifications (4)</a>
                    <a href="user-orders-history.html" class="btn">Order History</a>
                    <hr class="last"/>
                    <a href="index.html" class="btn btn-logout">Logout</a>
                </nav>

                <div class="col-12 col-md-8 offset-md-4 col-lg-9 offset-lg-3 container-fluid p-4">
                    <div class="row">
                        <div class="col-12">
                            <img data-toggle="modal" 
                                 data-target="#controls-modal" 
                                 class="d-md-none controls-icon pb-3" 
                                 src="imgs/menu.png" alt=""/>
                        </div>
                        <div class="col-12 mb-2 pr-0 pr-sm-2">
                            <h5 class="d-inline-block">Notifications</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 col-sm-2 col-lg-1 text-right">
                            <label class="pt-2">Text:</label>
                        </div>
                        <div class="col-8 col-sm-4 col-lg-3 pl-0">
                           <input type="text" class="d-inline form-control ml-0 mb-0" placeholder=" Search text..."/>
                        </div>
                        <div class="col-4 col-sm-2 pt-3 pt-sm-0 text-right">
                            <label class="pt-2">Category:</label>
                        </div>
                        <div class="col-8 col-sm-4 col-lg-3 pt-3 pt-sm-0 pl-0">
                            <select class="d-inline form-control ml-0 mb-0" name="" id="">
                                <option value="">-- Select --</option>
                                <option value="">Breakfast</option>
                                <option value="">Lunch</option>
                                <option value="">Supper</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-1 pt-3 pt-lg-0">
                            <button class="btn btn-secondary d-block m-auto">Filter </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 p-2">
                            <div class="notice p-2">
                                <span class="notice-close">&times;</span>
                                <h5>New Menu Set</h5>
                                <p>New menu item <a href="#">#Id 32</a> has been set by the administrator</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-2">
                            <div class="notice p-2">
                                <span class="notice-close">&times;</span>
                                <h5>New Menu Set</h5>
                                <p>New menu item <a href="#">#Id 32</a> has been set by the administrator</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-2">
                            <div class="notice p-2">
                                <span class="notice-close">&times;</span>
                                <h5>New Menu Set</h5>
                                <p>New menu item <a href="#">#Id 32</a> has been set by the administrator</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 p-2">
                            <div class="notice p-2">
                                <span class="notice-close">&times;</span>
                                <h5>New Menu Set</h5>
                                <p>New menu item <a href="#">#Id 32</a> has been set by the administrator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <section id="delete-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Delete this order?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="controls-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-0">
                    <div class="modal-body p-0">
                        <nav class="controls patterns bg-teal"> 
                            <div class="col-12">
                                <span class="modal-close" data-dismiss="modal">&times;</span>
                                <h1 class="logo text-flav w-100">BAM!</h1> 
                                <hr/>
                                <a href="user-home.html" class="btn">Today's Menu</a>
                                <a href="user-orders.html" class="btn">My Orders</a>
                                <a href="#" class="btn active">Notifications (4)</a>
                                <a href="user-orders-history.html" class="btn">Order History</a>
                                <hr class="last"/>
                                <a href="index.html" class="btn btn-logout">Logout</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/jquery.min.js" charset="utf-8"></script>
        <script src="js/slick.min.js" charset="utf-8"></script>
        <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
        <script>
            $('.menu-category').slick({
                nextArrow: '<button class="clients-next">❯</button>',
                prevArrow: '<button class="clients-prev">❮</button>',
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnHover: false,
                arrows: false,
                centerMode: true,
                dots: true,
                responsive: [
                    {
                        breakpoint: 1310,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 995,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 560,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ],
            });
            
            var first = [
                "Welcome to yummy stuff!",
                "Welcome to where food lives!",
            ];
            var randIndex = Math.trunc(Math.random() * first.length);
            new Typed("#slogan", {
                strings: [first[randIndex], "Welcome to book a meal." ],
                startDelay: 200,
                typeSpeed: 40,
                backSpeed: 40,
                showCursor: false,
            });
        </script>
    </body>
</html>

