<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Customer | Menu</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/slick.css" charset="utf-8">
        <link rel="stylesheet" href="css/slick-theme.css" charset="utf-8">
        <link rel="stylesheet" href="css/custom.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <main class="container-fluid">
            <section class="row">
                <nav class="d-none d-md-block col-md-4 col-lg-3 controls sidebar patterns bg-teal text-center"> 
                    <h1 class="logo-medium text-flav pt-3">BAM!</h1> 
                    <hr/>
                    <a href="#" class="btn active">Today's Menu</a>
                    <a href="user-orders.html" class="btn">My Orders</a>
                    <a href="user-notifications.html" class="btn">Notifications (4)</a>
                    <a href="user-orders-history.html" class="btn">Order History</a>
                    <hr class="last"/>
                    <a href="index.html" class="btn btn-logout">Logout</a>
                </nav>

                <div class="col-12 col-md-8 offset-md-4 col-lg-9 offset-lg-3 container-fluid p-4">
                    <div class="row">
                        <div class="col-12">
                            <img data-toggle="modal" 
                                 data-target="#controls-modal" 
                                 class="d-md-none controls-icon pb-3" 
                                 src="imgs/menu.png" alt=""/>
                        </div>
                        <div class="col-12 mb-2 pr-0 pr-sm-2">
                            <h5 class="d-inline-block">Today's Menu</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-sm-2 col-lg-1 text-right">
                            <label class="pt-2">Text:</label>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-4 col-xl-3 pl-0">
                           <input type="text" class="d-inline form-control ml-0 mb-0" name=""  placeholder=" Search text..."/>
                        </div>
                        <div class="col-12 col-sm-1 col-lg-1 pt-3 pt-sm-0">
                            <button class="btn btn-secondary d-block m-auto">Filter </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <section class="container text-center mt-2">
                                <h5>Breakfast</h5>
                                <div class="row menu-category">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="pt-3">Lunch</h5>
                                <div class="row menu-category">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="pt-3">Supper</h5>
                                <div class="row menu-category">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food1.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food2.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food3.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                                        <div class="menu-item pt-3 pl-3 pr-3 m-1">
                                            <img src="imgs/food4.jpg" class="img-fluid" alt="Food Image">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2">Ksh. 200</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2">Pudding</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pb-0">
                                                            <a href="login.html" class="btn btn-primary">Order Now</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <section id="promote-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title">Make Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Make this user an admin?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Promote</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="demote-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Make Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Make this user a customer?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">Demote</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="controls-modal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-0">
                    <div class="modal-body p-0">
                        <nav class="controls patterns bg-teal"> 
                            <div class="col-12">
                                <span class="modal-close" data-dismiss="modal">&times;</span>
                                <h1 class="logo text-flav w-100">BAM!</h1> 
                                <hr/>
                                <a href="#" class="btn active">Today's Menu</a>
                                <a href="user-orders.html" class="btn">My Orders</a>
                                <a href="user-notifications.html" class="btn">Notifications (4)</a>
                                <a href="user-orders-history.html" class="btn">Order History</a>
                                <hr class="last"/>
                                <a href="index.html" class="btn btn-logout">Logout</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <script src="js/jquery.min.js" charset="utf-8"></script>
        <script src="js/slick.min.js" charset="utf-8"></script>
        <script src="js/bootstrap.bundle.min.js" charset="utf-8"></script>
        <script>
            $('.menu-category').slick({
                nextArrow: '<button class="clients-next">❯</button>',
                prevArrow: '<button class="clients-prev">❮</button>',
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnHover: false,
                arrows: false,
                centerMode: true,
                dots: true,
                responsive: [
                    {
                        breakpoint: 1310,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 995,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 560,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ],
            });
            
            var first = [
                "Welcome to yummy stuff!",
                "Welcome to where food lives!",
            ];
            var randIndex = Math.trunc(Math.random() * first.length);
            new Typed("#slogan", {
                strings: [first[randIndex], "Welcome to book a meal." ],
                startDelay: 200,
                typeSpeed: 40,
                backSpeed: 40,
                showCursor: false,
            });
        </script>
    </body>
</html>

