/**
 * Fonts.
 *
 * Here we will use Google fonts...
 */

@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
* { font-family: 'Nunito', sans-serif; }

/**
 * Colors.
 * This uses a colorscheme obtained from coolors.co
 * Reference: https://coolors.co/2d728f-3b8ea5-f5ee9e-f49e4c-ab3428
 */

/* backgrounds */
.bg-teal { background-color: #2d728f; }
.bg-blue { background-color: #3b83a5; }
.bg-flav { background-color: #f5ee9e; }
.bg-carrot { background-color: #f49e5c; }
.bg-brown { background-color: #ab3428; }

/* text color */
* { color: #555; } /* better for contrast */
.text-white { color: #fff; }
.text-teal { color: #2d728f; }
.text-blue { color: #3b83a5; }
.text-flav { color: #f5ee9e; }
.text-carrot { color: #f49e5c; }
.text-brown { color: #ab3428; }
.text-orange { color: orange; }
.text-center { text-align: center; }

.btn-primary,
.btn-primary:hover,
.btn-primary:focus { 
    color: black;
    background-color: orange;
    border-color: orange;
}

.patterns {
    background-image: url('../imgs/food.png');
}

