header.welcome {
    min-height: 80vh;
    background: url('../imgs/bg3.jpg') no-repeat center bottom;
    background-color: #333;
    background-size: cover;
    text-align: center;
    width: 100%;
}
header.welcome h3 {
    padding: 20px;
    font-size: 30px;
    background-color: rgba(0, 80, 80, 0.7);
}

.logo, 
.logo-medium,
.logo-small {
    font-family: 'Leckerli One', cursive;
}
.logo { font-size: 43px; }
.logo-medium { font-size: 30px; }
.logo-small { font-size: 28px; }

.patterns {
    background-image: url('../imgs/food.png');
}

.menu-item {
    border: 2px dashed #008080;
}

.controls {
    height: 100vh;
    min-height: 790px;
    background-color: #eee;
}

.controls.sidebar {
    position: fixed;
}

.controls .btn {
    display: block;
    margin-top: 4.5vh;
    margin-right: 40px;
    margin-left: 40px;
    transition: 0.1s all;
}

.controls .btn:hover {
    color: black;
    background-color: orange;
}

.controls .btn-logout,
.controls .btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.controls .btn-logout:hover {
    color: white;
}

.controls .btn-logout {
    font-size: 18px;
    color: white;
    padding: 10px;
    border: none;
}

.controls .btn.active {
    background-color: orange;
}

.controls hr {
    width: 60%; 
    display: block; 
    border-top: 2px solid #ddd; 
}

.controls-icon {
    width: 40px;
    margin-left: calc(50% - 20px);
}

.modal-header {
    text-align: center;
}

.modal-body img {
    max-width: 200px;
}

.modal.show,
.modal-open {
    padding-right: 0px !important;
}

.modal-close {
    color: white;
    float: right;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.controls .logo {
    text-align: center;
    display: inline-block;
}


table img {
    max-width: 90px;
}

footer {
    margin-top: 40px;
    min-height: 250px;
}

footer p {
    color: white;
    width: 100%;
    margin: auto;
    background-color: rgba(0,80, 80, .4);
}

